<%- include('header') %>
<div class="center">
    <div class="about-content">
        <p>Welcome to AnimeSearch, your ultimate destination for discovering and exploring the fascinating world of anime!</p>
        <p>With a vast collection of anime titles, comprehensive search features, and user-friendly interface, AnimeSearch makes it easy for you to explore and discover your next obsession.</p>
        <p>From action-packed shonen series to heartwarming slice-of-life stories, there's something for everyone to enjoy.</p>
        <p>Thank you for choosing our platform. We hope you have an unforgettable experience!</p>
    </div>
</div>
<%- include('footer') %>
